@model IEnumerable<CasaMarket.Domain.Entities.Message>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SenderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddresseeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRead)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SenderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddresseeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MessageID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MessageID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MessageID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
